<div class="container">
  <h3 style="text-align: center;">Course Creation</h3>
  <p>If you have received funding to hold a course or are looking to upskill your user or stakeholder 
  groups, contact the SciLifeLab Training Hub for assistance in course creation and delivery.</p>

  <p>We are here to assist you with creating a course that best engages your audience and uses fair 
  and open standards of education, and provides the necessary information on impact for reporting and 
  further iterations of your training.</p>

  <p>We offer:</p>
  <ul>
    <li>Needs assessment</li>
    <li>Customized training programs</li>
    <li>Lifelong learning initiatives</li>
    <li>Staff training development</li>
    <li>E-learning platform</li>
    <li>Partnership and collaboration</li>
    <li>Evaluation and feedback</li>
  </ul>

  <p>Have an idea for a course? Let us know</p>
  
</div>