<div class="container">
  <h3 style="text-align: Left;">Content Guides</h3>
  <p>Browse our library of guidelines and best practices for developing and 
  delivering training. Check back as we add more resources!</p>

  
</div>