<div class="container">
  <h3 style="text-align: center;">What can we help you with?</h3>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="text-box">
        <h3 style="text-align: center;">Content Guides</h3>
        <p>Browse our guidelines for sharing knowledge in various formats</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-box">
        <h3 style="text-align: center;">Pedagogic Support</h3>
        <p>Resources to level up your skill as a trainer</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-box">
        <h3 style="text-align: center;">Course Creation</h3>
        <p>Holding a course? Get in touch for consulting and development help</p>
      </div>
    </div>
  </div>
</div>
