<div class="container">
  <h3 style="text-align: center;">What can we help you with?</h3>
  <br>
  <div class="row">
    <a href="#" class="col-md-4" style="text-decoration: none;">
      <div class="text-box">
        <h3 style="text-align: center;">Content Guides</h3>
        <p>Browse our guidelines for sharing knowledge in various formats</p>
      </div>
    </a>

    <a href="#" class="col-md-4" style="text-decoration: none;">
      <div class="text-box">
        <h3 style="text-align: center;">Pedagogic Support</h3>
        <p>Resources to level up your skill as a trainer</p>
      </div>
    </a>

    <a href="#" class="col-md-4" style="text-decoration: none;">
      <div class="text-box">
        <h3 style="text-align: center;">Course Creation</h3>
        <p>Holding a course? Get in touch for consulting and development help</p>
      </div>
    </a>
  </div>
</div>
