<div class="container">
  <h3 style="text-align: left;">Pedagogic Support</h3>
  <p>Browse our resources for developing training materials. Not finding what 
  you need? Get in contact with one of our scientific training officers for support.</p>

</div>